<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InventaDataModul.Properties.Settings.webInventaConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;D:\Cloud@Mail.Ru\9 семестр\asp mvc\webInventa2\webInventa\App_Data\webInventa.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>